<!-- <h2>Busqueda</h2>
<hr>
<ul class="list-group">
  <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
    Buscar país
  </li>
  <li class="list-group-item" routerLink="region" routerLinkActive="active">
    Region
  </li>
  <li class="list-group-item" routerLink="capital" routerLinkActive="active">
    Capital
  </li>
</ul> -->

<nav class="navbar navbar-light navbar-expand-lg bg-body-tertiary" style="background-color: #1b6aa1; color: white;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand text-white" href="/"><i class="fa-solid fa-globe"></i> Busqueda Paises</a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-end">
        <li class="nav-item-item mx-2" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
          Buscar país
        </li>
        <li class="nav-item-item mx-2" routerLink="region" routerLinkActive="active">
          Region
        </li>
        <li class="nav-item-item mx-2" routerLink="capital" routerLinkActive="active">
          Capital
        </li>
      </ul>
    </div>
  </div>
</nav>



